[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BioMoR"]
	path = BioMoR
	url = https://github.com/sulkysubject37/biomor
[submodule "annotaR"]
	path = annotaR
	url = https://github.com/sulkysubject37/annotar
[submodule "resLIK"]
	path = resLIK
	url = https://github.com/cran/resLIK
